@import "tailwindcss";

:root {
  /* TOPIA Base Colors */
  --color-orange: #FF5C34;
  --color-yellow: #e4fe52;
  --color-near-black: #171718;
  --color-off-white: #FEFEFF;

  /* TOPIA Support Colors */
  --color-blue: #4F46FF;
  --color-green: #00FF88;
  --color-pink: #FF5BD7;

  /* Theme Variables */
  --background: #FEFEFF;
  --foreground: #171718;
}

@theme inline {
  /* TOPIA Brand Colors */
  --color-orange: #FF5C34;
  --color-yellow: #e4fe52;
  --color-blue: #4F46FF;
  --color-green: #00FF88;
  --color-pink: #FF5BD7;

  /* Neutral Colors */
  --color-near-black: #171718;
  --color-off-white: #FEFEFF;

  /* Background & Foreground */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fonts */
  --font-sans: var(--font-space-mono);
  --font-mono: var(--font-space-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171718;
    --foreground: #FEFEFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-mono), monospace;
}
